@charset "ISO-8859-1";

body {
 background: url(../img/register.jpg);
    background-size: cover;
}

button
{
    padding: 10px;
    width: 250px;
    border: none;
    color: #fffcfe;
    cursor: pointer;
    background: #ff5b6a;
    font-size: 20px;
    border-radius: 2px;
}

form {
	border-radius: 8px;
	width: 100%;
}

label {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

input {
	display: block;
    width: 100%;
    border: none;
    outline-style: none;
    border-bottom: 1px solid #ff5b6a;
}

.content {
	width: 800px;
	margin: auto; 
}

