@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

.search {
    font-size: 20px;
    margin-top: 30px;
}

.search-button {
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background: #ff4584;
    font-size: 20px;
}

input {
    display: block;
    width: 500px;
    border: none;
    text-align: center;
    font-size: 20px;
    margin-left: 250px;
    outline-style: none;
    border-bottom: 2px solid #00BCD4;
    margin-top: -30px;
    margin-bottom: 20px;
}

.Contains {
    background-color: white;
    height: auto;
    width: 1000px;
    border-radius: 30px;
    border: 1px solid #80808000;
    box-shadow: 0px 0px 14px 0px grey;
    margin: 50px 0 50px 250px;
}

h1 {
    text-align: center;
}

.Order {
    margin: 40px 100px;

}

table {
    height: 10px;
    width: 800px;
}

.ChucNang {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.button {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background: #ff4584;
    font-size: 20px;
}